
/** ADD YOUR AWESOME CODES HERE 
*/

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  -moz-box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
  -o-box-shadow: 0 0 0 30px white inset;
  -ms-box-shadow: 0 0 0 30px white inset; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.main {
  padding: 60px 0;
  position: relative; }

.contr {
  width: 586px;
  background-color:#fff;
  margin-left: 500px;
  border:2px solid blue;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px; 

}


.registration-form {
  padding: 50px 60px 70px 60px; }

input, select,textarea {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
  font-family:Calibri; 
  font-size:large;
  
}

  input:focus, select:focus {
    color: #222;
    border-bottom: 2px solid #4966b1; }

  .select-list {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 55px; }

  @media screen and (max-width: 1024px) {
  .contr {
    margin: 0 auto; } }
@media screen and (max-width: 768px) {
  .contr {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .registration-form {
    padding: 50px 30px 70px 30px; } }


.tr{
    text-align:left;
    padding-left:20px;
    
}

.tb{
    height:500px;
    width:400px;
    margin:150px 0 0 50px;
    font-size:large;
}

.submit {
  width: auto;
  background: #4966b1;
  color: #fff;
  
  font-size:large;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0px 1px 15px 0px rgba(73, 102, 177, 0.7); 

}
  .submit:hover {
    background: #3a518d; }

  .h2_ud{
      margin:0px;
      padding:0  0 20px 0;
      
  }

  .profile_pic{
      margin-bottom:15px;
      border:1px solid black;
  }

  .about_ud {
      margin:50px;
      
  }

  .about_ud p{
      padding: 70px 0px;
      font-family:Calibri;
      font-size:xx-large;
      color:black;
  }

    